* {
    padding: 0;
    margin: 0;
}

.cuadricula {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
}

article {
    border: .1em solid black;
}

.pais {
    background-color: rgb(190, 185, 185);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
}