* {
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    gap: 3em;
}

/* Header */

.header {
    grid-area: header;
    padding: 1em;
    background-color: rgb(69, 69, 71, 1);
}

.lista-desordenada {
    display: flex;
    justify-content: center;
    flex-direction: row;
    list-style-type: none;
    gap: 1em;
}

.link {
    font-size: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: aliceblue;
}

.separador {
    font-size: 2em;
    color: aliceblue;
}

/* Header */

/* Main y formulario */

.main {
    grid-area: main;
}

.formulario {
    display: grid;
    gap: 0.8em;
    border: 0.1em solid black;
    width: 80%;
    padding: 2em;
    margin: 0 auto;
    border-radius: 0.5em;
    grid-template-areas:
        "nombre"
        "mail"
        "tel"
        "mensaje";
        background-color: rgb(211, 208, 208);
}

.form {
    border-radius: 0.5em;
    border: none;
    padding-left: 0.7em;
}

.form::placeholder {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nombre {
    grid-area: nombre;
    width: 30%;
    height: 2em;
}

.mail {
    grid-area: mail;
    width: 30%;
    height: 2em;
}

.tel {
    grid-area: tel;
    width: 30%;
    height: 2em;
}

.mensaje {
    grid-area: mensaje;
    width: 50%;
    height: 6em;
}

.envioDeFormulario {
    display: flex;
    gap: 2em;
}

.enviar {
    width: 9.0625rem;
    height: 2em;
    cursor: pointer;
}

.cancelar {
    width: 9.0625rem;
    height: 2em;
    cursor: pointer;
}

.link-cancelar {
    display: inline;
}

/* Main y formulario */

/* Footer */

.footer {
    grid-area: footer;
}

/* Footer */