* {
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    gap: 3em;
}

/* Header */

.header {
    grid-area: header;
    padding: 1em;
    background-color: rgb(69, 69, 71, 1);
}

.lista-desordenada {
    display: flex;
    justify-content: center;
    flex-direction: row;
    list-style-type: none;
    gap: 1em;
}

.link {
    font-size: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: aliceblue;
}

.separador {
    font-size: 2em;
    color: aliceblue;
}

/* Header */

/* Main y formulario */

.main {
    grid-area: main;
}

.formulario {
    display: grid;
    flex-direction: column;
    gap: 0.5em;
    border: 0.1em solid black;
    width: 80%;
    padding: 2em;
    margin: 0 auto;
}

/* .datosDelUsuario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
} */

.nombre {
    width: 20%;
    height: 2em;
}

.mail {
    width: 20%;
    height: 2em;
}

.tel {
    width: 20%;
    height: 2em;
}

.mensaje {
    width: 40%;
    height: 6em;
}

.enviar {
    width: 15%;
}

/* Main y formulario */

/* Footer */

.footer {
    grid-area: footer;
}

/* Footer */